decorator==4.0.11
falcon==1.0.0
gunicorn==19.7.1
hug==2.2.0
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
lxml==3.7.3
nbformat==4.3.0
newrelic==2.78.0.57
plotly==2.0.7
python-mimeparse==1.6.0
pytz==2017.2
requests==2.13.0
traitlets==4.3.2
